# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# Build / packaging
build/
dist/
.eggs/
*.egg-info/
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment / local config
.env
.env.*

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / editor
.vscode/
.idea/

# Project outputs
.figs/
figs
.analysis
analysis
analysis/
mtga_viz/viz/assets/timeless/*.jpg


# Optional: ignore local data files if they are reproducible or large
#data/
# mtga_viz/data/